<!--
 * @Author: fanjf
 * @Date: 2022-11-28 15:47:22
 * @LastEditTime: 2022-12-21 09:22:59
 * @LastEditors: fanjf
 * @FilePath: \travel-filing\index.html
 * @Description: 🎉🎉🎉
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x5-fullscreen" content="true">
  <meta name="time" content="<%- time %>">
  <meta name="user" content="<%- user %>">
  <meta name="email" content="<%- email %>">
  <meta name="version" content="<%- version %>">
  <title>生成文档📜</title>
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.js"></script>
</body>

</html>